<div id="add-new-saved-reply-modal" class="new-style">
    <form id="add-new-saved-reply-form" class=""new-style>
        <label for="title" class="modal-field-label">{{t "Title" }}</label>
        <input type="text" name="title" class="modal_text_input title" value="" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
        <div>{{t "Content" }}</div>
        <textarea class="content settings_textarea" rows="4"></textarea>
    </form>
</div>
