<div class="copy_message copy-btn copy-btn-square tippy-zulip-tooltip" data-tippy-content="{{t 'Copy and close' }}" aria-label="{{t 'Copy and close' }}" role="button">
    <i class="zulip-icon zulip-icon-copy" aria-hidden="true"></i>
</div>
